/*  NORMALIZACION */
    *{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.tabla-aside{
background-color:rgb(34, 123, 178) ;
/*color:; */
*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
/* width: 0%;
display: flex;
justify-content: :end;*/

}

.tabla-aside span{
                   font-size: 215%;
                   font-weight: 100;
                   display: flex;
                   justify-content: end;
  
}
    
.padre{
         
        background-color: rgb(66, 197, 72);
        text-align: center white;
        display: flex;
        justify-content: end;
       }

   
.articulo{
           /* 1vw = 1% del ancho del viewport */
           /*width: 100vw; /*100% del viewport width */
           /*height: 100vw; /* 100% del viewport height */
           background-color: aqua;
          
}         

 .hijo-1{
         /* 1vw = 1% del ancho del viewport */
         /*width: 100vw; /*100% del viewport width */
         /*height: 100vw; /* 100% del viewport height */
        background-color: rgb(150, 30, 30);
        text-align: center white;
       }
.hijo-2{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(161, 64, 64);
        text-align: center white;
        }
 .hijo-3{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(46, 17, 212);
        text-align: center white;
        }
  .hijo-4{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(61, 28, 183);
        text-align: center white;
        }
  .hijo-5{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(17, 171, 48);
        text-align: center white;
        }
  .hijo-6{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(24, 176, 100);
        text-align: center white;
        }
  .hijo-7{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(80, 22, 93);
        text-align: center white;
        }
  .hijo-8{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(205, 188, 188);
        text-align: center white;
        }
  .hijo-9{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(213, 14, 14);
        text-align: center white;
        }
  .hijo-10{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(103, 151, 31);
        text-align: center white;
        }
  .hijo-11{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(70, 9, 167);
        text-align: center white;
        }
  .hijo-12{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(106, 206, 19);
        text-align: center white;
        }
  .hijo-13{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(121, 64, 161);
        text-align: center white;
        }
  .hijo-14{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(64, 161, 98);
        text-align: center white;
        }
  .hijo-15{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(146, 22, 209);
        text-align: center white;
        }
  .hijo-16{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(145, 161, 64);
        text-align: center white;
        }
  .hijo-17{
         /* 1vw = 1% del ancho del viewport */
         /* width: 100vw; /*100% del viewport width */
         /* height: 100vw; /* 100% del viewport height */
        background-color: rgb(64, 106, 161);
        text-align: center white;
        }